/*
Theme Name:     UX221 AS4
Description:    Assignment 4
Author:         Rathesa
Template:       twentytwentythree

(optional values you can add: Theme URI, Author URI, Version, License, License URI, Tags, Text Domain)
*/
